# Variables d'environnement - PriZo

# API Backend
EXPO_PUBLIC_API_URL=https://api.prizo.ci

# Sentry (Crash reporting)
EXPO_PUBLIC_SENTRY_DSN=

# Amplitude (Analytics)
EXPO_PUBLIC_AMPLITUDE_KEY=

# Environment
EXPO_PUBLIC_ENV=development
